* {

    font-family: 'Libre Baskerville', serif;
    
    /* --accent: #ff88009a; //opaque orange */
    --base: #214164;
    --base_light: #b4b4b49a;
    --base_dark: #ff88009a;
    --primary: #214164;
    /* --primary: #1b3755; recent */
    /* --main-background: #1d5083; mom */
    /* --main-background: #153c62; current blue */
    --secondary: #ffd080;
    /* --text-head: #ffbb29;mom */
    /* --text-head: #cfa357; gold */
    /* --main-background: #224f79; grey blue*/
    /* --section-background: #0d989c; */
    /* --section-background: #94929b; mom */
    --accent: #ffffff;

    --text-primary: var(--primary);
    --text-secondary: var(--secondary);
    --light: white;
    --dark: black;
    /* --text-light: white;
    --text-dark: #000000; */
    /*--accent: #00f7ff; light blue*/
    /*--accent: #9e8159; /*deep gold*/

    --gradient: linear-gradient(
        45deg, 
        var(--secondary),
        var(--secondary),
        var(--secondary),
        var(--accent),
        var(--secondary),
        var(--secondary),
        var(--secondary)
      
    );

scroll-behavior: smooth;
scroll-padding-top: 5rem;

}

body {
    /*background-color: #15263a;*/
    /* margin: 20px; */
    display: flex;
    flex-direction: column;
    /*background-color: rgb(253, 253, 253);*/
    margin: 0px;
    /* background-color: var(--primary); */

    font-family: 'Libre Baskerville', serif;   
    background-color: var(--base);
}


.n-bar {

    --n-text: var(--secondary);
    --n-text-inverse: var(--accent);
    --n-background: var(--primary);
    
    position: fixed;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    padding-top: 10px;
   
    font-size: 20px;
    background-color: var(--n-background);
    
    text-decoration: none;
    border-bottom: 3px solid transparent;

}

.n-bar a {
    color: var(--n-text);
    margin: 0px 30px;
    text-decoration: none;

    font-weight: bold;
    border-bottom: 2px solid transparent;
    /*transition: .5s;*/
}

.n-bar a:hover {
    color: var(--n-text-inverse);
    border-bottom: 2px solid var(--n-text-inverse);
    transition: .2s;
}

.n-scrolled {
    --n-text: var(--primary);
    --n-text-inverse: var(--secondary);
    --n-background: var(--light);

    
    box-shadow: 0 0 2px 5px rgba(136, 135, 135, 0.274),
    0 0 2px 2px rgba(136, 135, 135, 0.685);
}


.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    margin: 0px;
    padding: 150px 70px 235px 70px;
    background: var(--primary);
    color: var(--light);
}

article.info {
    border-left: 2px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--secondary);
    font-size: xx-large;
}

article.info p, h2, button {
    
margin: 25px;
    /* box-shadow: 2px 2px 2px px #ffffff; */
}

 article.info button {
    cursor: pointer;
    margin: 10px 0px;
    color: var(--primary);
    background-image: var(--gradient);
    background-size: 500%;
    background-position: right;
    transition: background-position .5s;
    border: 2px solid transparent;
   
    padding: 5px 10px;
    border-radius: 15px;
   
    font: inherit;

    transition: .75s;

}

article.info button:hover,
article.info button:focus {
    /* background-color: var(--accent); */
    /* color: var(--accent); */
    /* filter: brightness(75%) hue-rotate(60deg); */
    background-position: left;
}


/* article.info::after {
    content: "";
    position: absolute;
    left: -50px;
    top: 50px;
    width: 4px;
    height: 80%;
    background: var(--accent);

    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform .5s ease-in;
} */

 /* article.info:hover::after {
    transform: scaleY(1);
    transform-origin: top;
    background-color: var(--accent);
} */

 .profile img {
    height: 550px;
}

.about,
.languages,
.projects {
    margin: 70px 30px;
    padding: 50px 50px;
    color: var(--primary);
    font-weight: bold;
    background-color: var(--base_light);
    /* outline: 3px solid var(--primary);
    outline-offset: -10px;
    outline-radius: 15px; */
     text-align: center;
     border-radius: 15px;
     box-shadow: 0 0 5px 5px rgba(0, 0, 0, .3),
                 0 0 15px 15px rgba(0, 0, 0, .3),
                 inset 0 0 15px 15px rgba(0, 0, 0, .1),
                 inset 0 0 15px 15px rgba(0, 0, 0, .1);
}

.title {
    
    padding: 1em 1.5em;
    position: relative;
   
    width: fit-content;
    transition: .5s;
    color: var(--primary);
}

.about h3,
.languages a,
.projects {
   align-content: center;
   align-items: center;
}

/* .title:hover {
    color: var(--main-background);
    /*background-color:
} */


/* .fancy {
    transform: scaleX(1);
    color: var(--primary);
    /* background: var(--primary); */
    /* background: #6f13a8; mom */
    /* background: rgb(79, 0, 128); */
/* } */

.language_logos {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 10px 20%;
    text-align: center;
}

.logo1 img,
.logo2 img,
.logo3 img,
.logo4 img {
width: 100px;
margin: 0px;
padding: 0px;


}

.logo4 {
    /* position: relative; */
    background-color: rgb(235, 235, 235);
    /* background-color: rgba(233, 232, 232, 0.349); */
    padding: 20px 10px 30px 10px;
    border: 2px solid rgba(219, 219, 219, 0.397);
    /* border: 2px solid rgba(163, 163, 163, 0.397); */
    border-radius: 15px;
    margin-bottom: 7px;
}



#one-line {
    display: flex; 
}

#one-line p, #one-line a {
    font-weight: bold;
    color: var(--text);
    text-decoration: none;
    margin-top: 10px;
    transition: .1s;
}

#one-line a:hover {
    color: var(--text-head)
}
.collection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* .projects p{
    font-weight: bold;
color: var(--text-inverse);
} */

.projects h3, .projects a {
    color: var(--text-primary);
    text-align: center;
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

.projects h3:hover, .projects a:hover {
    text-decoration: underline;
}

.projects img{
    height:200px;
    width: 300px;
    transition: .5s ease-in;
}

.project1,
.project2,
.project3,
.project4,
.project5 {
    position: relative;
    margin: 20px;
    padding: 10px;
    background-color: var(--accent);
    transition: .5s ease-in;
    border: 4px solid var(--primary);
    border-radius: 15px;
}

.project1:hover,
.project2:hover,
.project3:hover,
.project4:hover,
.project5:hover {
    background-color: var(--light);
}

.project1 p,
.project1 p,
.project2 p,
.project3 p,
.project4 p,
.project5 p {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: .5s ease-in;    
    padding: 5px;
}

/* .project1:hover h3,
.project2:hover h3,
.project3:hover h3,
.project4:hover h3,
.project5:hover h3 {
    color: var(--main-background)
} */



.project1:hover p,
.project2:hover p,
.project3:hover p,
.project4:hover p,
.project5:hover p {
    opacity: 1;
    font-weight: bold;
}

.project1:hover img, 
.project2:hover img, 
.project3:hover img, 
.project4:hover img, 
.project5:hover img {
    opacity: 0;
    
}

.gh-repos{
    /* color: var(--text); */
    display: flex;
    flex-direction: column;
}

.gh-repos a,
.gh-repos h3{
    color: var(--primary);
    transition: 0.1s;
}

.gh-repos h3:hover {
    text-decoration: none;
}

.gh-repos a:hover {
    /* color:var(--light); */
    text-decoration: underline;
}

/* .from-left {
    grid-column: 2/3;
    transform: translateX(-50%);
}

.from-right {
    grid-column: 2/3;
    transform: translateX(50%);
}

.from-left,
.from-right {
    transition:
        opacity 2.5s ease-in,
        transform 4s ease-in;
    opacity: 0;
}

.from-left,
.from-right {
    transition: translateX(0);
    opacity: 1;
} */


/***********************************************************************/

/* style button */
#myBtn {
    border: 2px solid white;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
}

/* adjust style when hovered */
#myBtn:hover {
    color: green;
    background-color: white;

}

/* the modal (background) */
.modal {
    color: white;
    display: none;
    /* hidden by default */
    position: fixed;
    /* stay in place */
    z-index: 5;
    /* sit on top */
    padding-top: 100px;
    /* padding on all sides*/
    left: 0;
    /* location of the box */
    top: 0;
    /* location of the box */
    width: 100%;
    /* full width */
    height: 100%;
    /* full height */
    background-color: var(--base_light);
    /* black with opacity */
    z-index: 100;

    backdrop-filter: blur(5px)
}

/* style modal */
.modal-content {
    
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: ; */
    margin: auto;
    padding: 20px;
    min-width: fit-content;
    /*height: 50%; */
    
    text-align: center;
    line-height: 200%;
    
    backdrop-filter: blur(5px);
    background-color: var(--base_light);
    border-radius: 15px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .3),
                0 0 15px 15px rgba(0, 0, 0, .3),
                inset 0 0 15px 15px rgba(0, 0, 0, .1),
                inset 0 0 15px 15px rgba(0, 0, 0, .1);

}

/* everything changes to orange when hovered */
.modal-content li:hover,
.modal-content li:focus,
.modal-content a:hover,
.modal-content a:focus,
.modal-content i:hover,
.modal-content i:focus {
    color: var(--accent);
}


/* span.close {
    position: absolute;
    /* float: right; */
    /* justify-content: end; */
    /* align-items: end; */
    /* align-content: end;
    display: flex;
    top: 10%;
    left: 72%;
    color: white;

} */

@media screen and (max-width: 900px) {

    .modal-content {
        width: 80%;
    }

    /* article.info button {
    background-image: none;
        background-color: var(--main-background);
    } */
}

/* align a tags */
.modal-content a {
    align-content: center;
    color: white;
    text-decoration: none;

}

/* align icons
.modal-content i {
    float: left;
} */

/* no bullet points */
/* .modal-content li {
    list-style-type: none;
} */

/* style close button */
/* .close {
    position: absolute;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 50px;
    margin-top: 42px;
}

/* style close button when hovered
.close:hover,
.close:focus {
    cursor: pointer;
    color: var(--accent);
} */

/****************************************************************/


@media screen and (max-width: 900px) {

    .n-bar a {
        margin: 0px 15px;
    }

    .hws{
        /* display:none; */
        font-size:4vw;
        justify-content: space-between;
    }

    .profile{
        flex-direction: column;
        text-align: center;
    }

    body {
        align-content: center;
        text-align: center;
    }

    .profile img {
        display: none;
    }

    .about,
    .languages,
    .projects {
        margin: 10px 5px;
    }

    .title {
        width: 100%;
        padding: 1em 0px;
        margin: 0px;
    }

  /* .fancy {
      align-content: center;
      text-align: center;
  } */

    /* .menu-btn {
        display: block;
        justify-content: end;
    } */

    .collection {
        display:flex;
        justify-content: center;
    }

}

/* @media screen and (max-width: 376px) {

    .project1,
    .project2,
    .project3,
    .project4,
    .project5 {
        margin:0px !important;
      
        overflow: none;
    }
} */